body{
    margin: 0;
    font-family: 'Open Sans';
}
.all{
    box-shadow: 2px  5px black;
    height: 100vh;
    width: 100vw;
    background-color: #16B8EC;
    margin-top: -5%;
    
}
.judul{
    margin-top: -80%;
    font-size: 40px;
    color: white;
    margin: 0;
    margin-left: 20%;
}
.judul h1{
}
.isi{
    margin-top: 2%;
    color: white;
    font-size: 20px;
    margin-left: 20%;
    
}
.foot{
    margin-left: 65%;
    

}
.foot button{
    width: 120px;
    height: 45px;
    border-radius: 25px;
    border: none;
    color: #16B8EC;
}
.Navbar{
    height: 70px;
    width: 100vw;
    background-color: #16B8EC;
    display: flex;
}
.Navbar-left h1{
    margin: 0;
    margin-top: 10px;
    margin-left: 30px;
    color: white;
    font-size: 36px;
}
.Navbar-left{
    display: flex;
}
.menu-left{
    margin-top: 25px;
    margin-left: 50px;
}
.menu-left a{
    text-decoration: none;
    color: white;
    font-size: 18px;

}
.menu-left a:hover{
    background-color: white;
    color: #16B8EC;
    border-radius: 10px;
}
#About{
    margin-left: 20px;
}
.Navbar-Right {
    margin-left: auto;
}
.Navbar-Right a{
    text-decoration: none;
    color: white;
    margin-right: 25px;
    font-size: 18px;
}
.Navbar-Right a:hover{
    background-color: white;
    color: #16B8EC;
    border-radius: 10px;
}
.menu-right{
    margin-top: 25px;
}
#login{
    margin-right: 20px;
}
#Ajukan-pengaduan{
    margin-left: 25px;
}
