body{
    margin: 0;
}
.Navbar{
    height: 70px;
    width: 100vw;
    background-color: #16B8EC;
    display: flex;
}
.Navbar-left h1{
    margin: 0;
    margin-top: 10px;
    margin-left: 30px;
    color: white;
    font-size: 36px;
}
.Navbar-left{
    display: flex;
}
.menu-left{
    margin-top: 25px;
    margin-left: 50px;
}
.menu-left a{
    text-decoration: none;
    color: white;
    font-size: 18px;

}
.menu-left a:hover{
    background-color: white;
    color: #16B8EC;
    border-radius: 10px;
}
#About{
    margin-left: 20px;
}
.Navbar-Right {
    margin-left: auto;
}
.Navbar-Right a{
    text-decoration: none;
    color: white;
    margin-right: 25px;
    font-size: 18px;
}
.Navbar-Right a:hover{
    background-color: white;
    color: #16B8EC;
    border-radius: 10px;
}
.menu-right{
    margin-top: 25px;
}
#login{
    margin-right: 20px;
}
.body-home{
    box-shadow: 2px 2px 5px black;
    height: 80vh;
    width: 90vw;
    margin-left: 5%;
}
.namtag{
    display: flex;
}
.tanggal{
    margin-left: 100px;
}
#Tanggal{
    width: 300px;
    height: 25px;
}
.nama{
    margin-left: 50px;
}
#Nama{
    width: 300px;
    height: 25px;
}
#Pengaduan{
    height: 300px;
    width: 1000px;
}
.pengaduan{
    margin-top: 10px;
    margin-left: 50px;
}
.Lokasi{
    margin-left: 50px;
    margin-top: 10px;
}
.Lokasi select{
    height: 30px;
    width: 300px;
}
.lokgor{
    display: flex;
}
.kategori{
    margin-top: 10px;
    margin-left: 50px
}
#Kategori{
    height: 30px;
}
#Lapor{
    margin-left: -10%;
}
#Lapor-button{
    width: 100px;
    height: 40px;
    background-color: #16B8EC;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 70%;
}
#Ajukan-pengaduan{
    margin-left: 25px;
}
